# Entorno virtual
.venv/
venv/
env/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# VS Code
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Archivos temporales
*.tmp
*.bak

# Cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
